{% extends 'home/wrapper.html' %}

{% block body %}
    <form method="post">
        {% csrf_token %}

        <h4>Заголовок {{ form.post_title }}</h4>
        <h4>Краткое описание {{ form.post_short_description }}</h4>
        <p> {{ form.post_text|safe }}</p>
        <h4>Номер специальности {{ form.post_speciality_number }}</h4>
        <h4>Выберите теги : </h4>
        <p>{{ form.tags }}</p>
        <h4>Или создайте свой тег </h4>
        <h4><input name="tag" type="text" class="form-control" style="width: 20%;"></h4>
        <button class="btn btn-success" type="submit">Сохранить</button>
        {% if not user.is_authenticated %}
            <text class="text-danger" style="margin-left: 20px;">Необходимо зарегистрироваться, чтобы создавать
                конспекты
            </text>
        {% endif %}
        {% if good_news == 'True' %}
            <text class="text-success" style="margin-left: 20px;">Успешно сохранено</text>
        {% endif %}
    </form>
{% endblock %}