{% extends 'home/wrapper.html' %}
{% load ratings %}

{% block body %}
    <link rel="stylesheet" href="/static/MyModal.css">
    <div>
        <a href="/MyProfile/create/" class="btn btn-default glyphicon glyphicon-pencil"
           style="margin-left:-4% ;background-color: limegreen;margin-top: 2%;"></a>

        {#        <a href="{% url 'show_posts_by_date' %}" class="btn btn-default btn-primary"#}
        {#           style="margin-left: 2%;margin-top: 2%;"> Отсортировать по дате</a>#}
        {#        <a href="{% url 'show_posts_by_rating' %}" class="btn btn-default btn-primary"#}
        {#           style="margin-left: 2%;margin-top: 2%;">Отсортировать по рейтингу</a>#}

    </div>
    <hr>
    <table width="100%">
        <td width="40%">
            <div style="margin-left: 5%;">
                {% for post in posts %}
                    <div style="margin-left: 5%">
                        <form method="post" action="">
                            {% csrf_token %}
                            <button type="submit" id="{{ post.id }}" class="btn btn-danger glyphicon glyphicon-minus"
                                    style="background-color: #d43f3a;" value="{{ post.id }}"
                                    name="delete_post"></button>
                            <a href="/MyProfile/{{ post.id }}/edit/" class="btn btn-default glyphicon glyphicon-wrench"
                               style=";background-color: orange;"></a>
                        </form>
                        <h3>
                            <a href="/{{ post.id }}">{{ post.post_title }}</a>
                        </h3>
                        <h4>{{ post.post_short_description }}</h4>
                        <h6>{{ post.post_author }}<br>
                            Добавлен: {{ post.post_date }}<br>
                            Изменен: {{ post.post_date_update }}<br>
                        </h6>
                        {% ratings post %}
                    </div>
                    <hr>

                {% endfor %}
            </div>
        </td>
        <td width="60%" style="vertical-align: top;padding-left: 20%;">
            <form action="{% url 'sort' %}" method="post">
                {% csrf_token %}

                <label class="radio rad" style="width: 70%; ">
                    <input name="sort" type="radio" value="date" checked>Отсортировать по дате</input>
                </label>
                <label class="radio rad" style="width: 70%; ">
                    <input name="sort" type="radio" value="rating">Отсортировать по рейтингу</input>
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="inverse" value="true"> В обратном порядке
                </label>

                <button type="submit" class="btn btn-default btn-primary">Жмякай сюда</button>
            </form>

    </table>
{% endblock %}