{% extends 'home/wrapper.html' %}
{% load ratings %}

{% block body %}
    <link rel="stylesheet" href="/static/MyModal.css">

    <a href="/MyProfile/create/" class="btn btn-default glyphicon glyphicon-pencil"
       style="margin-left:-4% ;margin-top: 1%;background-color: limegreen;"></a>
    <hr>

    {% for post in posts %}
        <div style="margin-left: 10%">
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit" id="{{ post.id }}" class="btn btn-danger glyphicon glyphicon-minus"
                        style="background-color: #d43f3a;" value="{{ post.id }}" name="delete_post"></button>
                <a href="/MyProfile/{{ post.id }}/edit/" class="btn btn-default glyphicon glyphicon-wrench"
                   style=";background-color: orange;"></a>
            </form>
            <h3>
                <a href="/{{ post.id }}">{{ post.post_title }}</a>
            </h3>
            <h4>{{ post.post_short_description }}</h4>
            <h6>{{ post.post_author }}<br>
                {{ post.post_date }}<br>
            </h6>
            {% ratings post %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}