{% extends 'home/wrapper.html' %}

{% block body %}
    <div>
        <h3>{{ post.post_title }}</h3>
        <div class="summernote">
            {{ form.post_text|safe }}
        </div>
        <h6>{{ post.post_author }}<br>
            {{ post.post_date }}<br>
            {{ post.post_stars }}
        </h6>
    </div>
    <h5>
        <hr>
        ↓ Комментарии ↓
        <hr>
    </h5>
    {% for comment in comments %}
        <div>
            <textarea disabled="disabled" rows="5" style="width: 70%">{{ comment.comments_text }}</textarea>
            <h6>
                {{ comment.comments_author }}<br>
                {{ comment.comments_date }}
            </h6>
            <a href="/{{ post.id }}/{{ comment.id }}/addlike/" class="btn btn-default glyphicon glyphicon-thumbs-up"
               style="color: blue"></a>
            {{ comment.comments_likes.count }}
            <br>
            <hr>
        </div>
    {% endfor %}

{% endblock %}

