<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Lectures</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.css' %}">

</head>
<body style="padding-left: 20%;">
<div style=" position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #4e555b;">

    {% if not user.is_authenticated %}
        <a href="/" class="btn"><p>Главная</p></a><br>
        <a href="/signup" class="btn"><p>Регистрация</p></a><br>
        <a href="/login" class="btn"><p>Войти</p></a>
    {% elif user.is_authenticated %}
        <img src="../../static/img/avatar.PNG" class="img-circle" style="width: 35%; margin-left: 5%;margin-top: 5%;">
        <a class="btn" style="color: orange"><p>{{ user.username }}</p></a><br>
        <a href="/" class="btn"><p>Главная</p></a><br>
        <a href="/logout" class="btn">Выйти из аккаунта</a>
    {% endif %}
</div>

{% block body %}
{% endblock %}
</body>
</html>