<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Lectures</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="javascript" href="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="javascript" href="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

</head>
<body style="padding-left: 20%;">
<div style=" position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #4e555b;">

    {% if not user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/" class="btn" style="color: #1ab7ea;">Главная</a></li>
            <br>
            <li><a href="/signup" class="btn" style="color: #1ab7ea;">Регистрация</a></li>
            <br>
            <li><a href="/login" class="btn" style="color: #1ab7ea;">Войти</a></li>
        </ul>
    {% elif user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/MyProfile"><img src="/static/img/avatar.PNG" class="img-circle"
                                          style="width: 35%;margin-left: 33%;margin-top: 5%;"></a></li>
            <li><a href="/MyProfile" class="btn" style="color: orange">{{ user.username }}</a></li>
            <br>
            <li><a href="/" class="btn" style="color: #1ab7ea;">Главная</a></li>
            <br>
            <li><a href="/logout" class="btn" style="color: #1ab7ea;">Выйти из аккаунта</a></li>
        </ul>
    {% endif %}
</div>

{% block body %}
{% endblock %}
</body>
</html>