{% extends 'home/wrapper.html' %}
{% block body %}
    <h2>Войдите в систему</h2>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username" class="col-2"><p>Имя пользователя: </p></label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password" class="col-2"><p>Пароль: </p></label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-success">Войти</button>
    </form>
    <div class="col-1" style="margin-top: 50px;">
        <a href="{% url 'social:begin' 'twitter' %}">Twitter</a>
        <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}">Vk</a>
        {#    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>#}
    </div>
{% endblock %}