{% extends 'home/wrapper.html' %}
{% load i18n %}

{% block body %}
    <h2>{% trans "Войдите в систему" %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username" class="col-2"><p>{% trans "Имя пользователя: " %}</p></label><br>
            <div class="col-10">
                <input type="text" style="width: 50%;" class="form-control" id="username" name="username"
                       placeholder="Nickname">
            </div>

        </div>
        <div class="form-group">
            <label for="id_password" class="col-2"><p>{% trans "Пароль: " %}</p></label><br>
            <div class="col-10">
                <input type="password" style="width: 50%;" class="form-control" id="password1" name="password"
                       placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Войти</button>
    </form>
    <div style="margin-top: 50px;">
        <a class="btn btn-social-icon btn-twitter" href="{% url 'social:begin' 'twitter' %}"><span
                class="fa fa-twitter"></span></a>
        <a class="btn btn-social-icon btn-facebook" href="{% url 'social:begin' 'facebook' %}"><span
                class="fa fa-facebook"></span></a>
        <a class="btn btn-social-icon btn-vk" href="{% url 'social:begin' 'vk-oauth2' %}"><span class="fa fa-vk"></span></a>
    </div>
{% endblock %}