.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 40%;
    height: 15%;
}

/* The Close Button */
/*.btn-close{*/
    /*float: right;*/
    /*background-color: #d43f3a;*/
/*}*/
.btn-accept{
    float: left;
    background-color: #4cae4c;
}
.btn-group{
    margin-left: -45px;
    margin-top: 40px;
}